body {
    font-family: 'Gilroy  Arial, sans-serif';

}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 15px;

}

.header {
    background-color: aquamarine;
}

.header__row {
    display: flex;
    justify-content: first baseline;
    height: 80px;
    align-items: center;
}

.header__logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(33, 244, 191);
}

.menu__list {
    display: flex;
}

a {
    text-decoration: none;
}

.menu__list ul li {
    display: none;
    list-style: none;
}