/* основи мед масаж */
.container_section {
    width: 100%;
    height: auto;
    margin: 0% auto;
}

.slider_imageBasic {
    display: flex;
    width: 100%;
    height: auto;
}

.container_block {
    background-color: #22de49;
    display: flex;
    flex-direction: row;
}

.text_basic {
    color: #fff;
}


/*  таби */
.tabsBassic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    height: auto;
    width: 100%;
    overflow: hidden;

}

.tabsBassic {
    font-size: 18px;
    color: grey;
}

.tab-link {
    background-color: #ddd;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.tab-link.active {
    background-color: #0F9D58;
    color: #fff;
}

.tab-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
}

.tab-content.active {
    display: block;
}

.tabsBassic h2 {
    text-align: center;
    color: #0c0b0b;
}



.butnn {
    display: flex;
    padding: 0% 0% 10% 0%;
}

.card2 {
    max-width: 100%;
    margin: auto;

}


.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card2 {

    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #e4ebee;
    width: 60%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10% auto;
}

.card2:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}


.card2:hover {
    height: 100%;
    opacity: 0.3;
}

.card2:hover {
    background-color: transparent;
    position: relative;
}

.card2:hover {
    opacity: 1;
}

.aqaa span {
    text-align: center;
    color: #ffffff;
    margin: 2% auto;
    padding-left: 2%;
}

#footers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 2350px;
}

@media only screen and (max-width: 767px) {

    .container_section {
        width: 190%;
        height: auto;
        margin: 0% auto;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: auto;
    }

    .tabsBassic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

}

@media screen and (max-width: 768px) {
    .container_section {
        width: 190%;
        height: auto;
        margin: 0% auto;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: auto;
    }

    .tabsBassic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .footers {
        width: 190%;
    }
}