/* основи мед масаж */
.container_section {
    width: 100%;
    height: auto;
    margin: 0% auto;
}

.slider_imageBasic {
    display: flex;
    width: 50%;
    height: fit-content;
    margin: 13% 2%;
}

.container_blockA {
    background-color: #74b4a5;
    display: flex;
    flex-direction: row;
}

.container_block {
    background-color: #22de49;
    display: flex;
    flex-direction: row;
}

.text_basic {
    color: floralwhite;
    font-size: 12px;
}

.butnns {
    display: flex;
    padding: 0%;
}



.texfig {
    color: darkred;
    font-size: 18px;

}

/*  таби */
.tabsBassic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    height: auto;
    width: 100%;
    overflow: hidden;

}

.tabsBassic {
    font-size: 18px;
    color: grey;
}

.tab-link {
    background-color: #ddd;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.tab-link.active {
    background-color: #0F9D58;
    color: #fff;
}

.tab-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
}

.tab-content.active {
    display: block;
}

.tabsBassic h2 {
    text-align: center;
    color: #0c0b0b;
}



.butnn {
    display: flex;
    padding: 0% 0% 10% 0%;
}

.card2 {
    max-width: 100%;
    margin: auto;

}


.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card2 {

    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #e4ebee;
    width: 60%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10% auto;
}

.card2:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}


.card2:hover {
    height: 100%;
    opacity: 0.3;
}

.card2:hover {
    background-color: transparent;
    position: relative;
}

.card2:hover {
    opacity: 1;
}

.aqaa span {
    text-align: center;
    color: #ffffff;
    margin: 2% auto;
    padding-left: 2%;
}

#footers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 2350px;
}

.container_blockM {
    background-color: #3877b4;
    display: flex;
    flex-direction: row-reverse;
}


.slider_imageBasicM {
    display: flex;
    width: 50%;
    height: fit-content;
    margin: 13% 1%;
}



.text_basicA {
    color: floralwhite;
    font-size: 12px;
}

.antic-tex span {

    color: #011f51;

}

.texfigA {
    color: darkred;
    font-size: 18px;
}

.container_blockAm {
    background-color: #dabf90;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 767px) {

    .container_section {
        width: 190%;
        height: auto;
        margin: 0% auto;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: auto;
    }

    .tabsBassic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .text_basicA {
        color: floralwhite;
        font-size: 10px;
    }

    .tabsBassicA {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .texfig {
        color: darkred;
        font-size: 10px;

    }

    .slide>h2 {
        text-align: center;
        font-size: 18px;
    }

    .container_blockA {
        background-color: #74b4a5;
        display: flex;
        flex-direction: row;
    }

    .texfigA {
        color: darkred;
        font-size: 18px;
    }

    .container-z>ol,
    .container-z>ul {
        list-style: none;
        text-align: center;
    }
}

.container_blockAmQ {
    background-color: #90abda;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .container_section {
        width: 190%;
        height: auto;
        margin: auto;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: auto;
    }

    .tabsBassic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .tabsBassicA {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .text_basicA {
        color: floralwhite;
        font-size: 10px;
    }

    .footers {
        width: 190%;
    }

    .texfig {
        color: darkred;
        font-size: 10px;

    }

    .slide>h2 {
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .text_basicA {
        color: floralwhite;
        font-size: 8px;
        line-height: 1.2;
    }

    .texfig {
        color: darkred;
        font-size: 6px;

    }

    .slide>h2 {
        text-align: center;
        font-size: 10px;
    }

    .slider-buttons button {
        margin: 3%;
        padding: 0%;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        font-size: 10px;
    }

    .image-text {
        font-size: 8px;
    }

    #navbar1 li a {
        display: block;
        padding: 6px;
        width: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 10px;
    }

    .text_basic {
        color: floralwhite;
        font-size: 8px;

    }
}