/* основи мед масаж */
.container_section {
    width: 100%;
    height: auto;
    margin: 0% auto;
}

.slider_imageBasic {
    display: flex;
    width: 50%;
    height: fit-content;
    margin: 13% 2%;
}

.container_blockA {
    background-color: #74b4a5;
    display: flex;
    flex-direction: row;
}

.container_blockK {
    background-color: #ff0083;
    display: flex;
    flex-direction: row;
}

.container_blockAmQ {
    background-color: #EA9C13;
    display: flex;
    flex-direction: row;
}

.container_block {
    background-color: #22de49;
    display: flex;
    flex-direction: row;
}

.text_basic {
    color: floralwhite;
    font-size: 12px;
}

.butnns {
    display: flex;
    padding: 0%;
}



.texfig {
    color: darkred;
    font-size: 18px;

}

/*  таби */
.tabsBassic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    height: auto;
    width: 100%;
    overflow: hidden;

}

.tabsBassic {
    font-size: 18px;
    color: grey;
}

.tab-link {
    background-color: #ddd;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.tab-link.active {
    background-color: #0F9D58;
    color: #fff;
}

.tab-content {
    display: none;
    width: 100%;
    box-sizing: border-box;
}

.tab-content.active {
    display: block;
}

.tabsBassic h2 {
    text-align: center;
    color: #0c0b0b;
}



.butnn {
    display: flex;
    padding: 0% 0% 10% 0%;
}

.card2 {
    max-width: 100%;
    margin: auto;

}


.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card2 {

    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #e4ebee;
    width: 60%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10% auto;
}

.card2:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}


.card2:hover {
    height: 100%;
    opacity: 0.3;
}

.card2:hover {
    background-color: transparent;
    position: relative;
}

.card2:hover {
    opacity: 1;
}

.aqaa span {
    text-align: center;
    color: #ffffff;
    margin: 2% auto;
    padding-left: 2%;
}

#footers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 2350px;
}

.container_blockM {
    background-color: #5fcd7c;
    display: flex;
    flex-direction: row-reverse;
}


.slider_imageBasicM {
    display: flex;
    width: 50%;
    height: fit-content;
    margin: 13% 1%;
}

.container_blockMW {
    background-color: #d0bf37;
    display: flex;
    flex-direction: row-reverse;
}


.text_basicA {
    color: floralwhite;
    font-size: 15px;
}

.antic-tex span {

    color: #011f51;

}

.texfigA {
    color: darkred;
    font-size: 18px;
}

.container_blockAm {
    background-color: #dabf90;
    display: flex;
    flex-direction: row;
}

.qw {
    color: white;
}

/* кнопка лайк  */


@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 600");

.v-align {
    display: flex;
    transform: translateY(-50%);

}

.hero-btn {
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;


}

.hero-btn .btn {
    background-color: #b1f1e2;
    box-shadow: 0 3vw 8vw rgba(255, 0, 131, 0.5);
    transform: perspective(600px) rotateX(0deg) scale(1);
    transition: all 0.2s linear;
}

.hero-btn .btn:hover {
    background-color: #e60076;
    box-shadow: 0 20px 40px rgba(51, 219, 177, 0.5);
}

.hero-btn .btn:active {
    -moz-transform: perspective(600px) rotateX(15deg) scale(0.9);
    -ms-transform: perspective(600px) rotateX(15deg) scale(0.9);
    -webkit-transform: perspective(600px) rotateX(15deg) scale(0.9);
    transform: perspective(600px) rotateX(15deg) scale(0.9);
    font-size: 21px;
    box-shadow: 0 20px 40px rgba(23, 219, 65, 0.5);
}

.active .hero-btn .btn:active {
    -moz-transform: perspective(600px) rotateX(0deg) scale(1);
    -ms-transform: perspective(600px) rotateX(0deg) scale(1);
    -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
    transform: perspective(600px) rotateX(0deg) scale(1);
    font-size: 22px;
    box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
}

.hero-btn .particles-circle {
    position: absolute;
    background-color: #ff0083;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 50%;
    margin-left: -15px;
    z-index: -1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
}

.hero-btn .particles-circle:nth-of-type(odd) {
    border: solid 2px #19ede6;
    background-color: transparent;
}

@keyframes particles-1 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 11px;
        top: -193px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(1) {
    animation: particles-1 1.5s 0.025s;
    border: solid 2px #3f0beb;
    background-color: transparent;
}

@keyframes particles-2 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -125px;
        top: 174px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(2) {
    animation: particles-2 1.5s 0.05s;
    border: solid 2px #0bebcd;
    background-color: transparent;
}

@keyframes particles-3 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 115px;
        top: 199px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(3) {
    animation: particles-3 1.5s 0.075s;
}

@keyframes particles-4 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 123px;
        top: -121px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(4) {
    animation: particles-4 1.5s 0.1s;
}

@keyframes particles-5 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 21px;
        top: -145px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(5) {
    animation: particles-5 1.5s 0.125s;
}

@keyframes particles-6 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 64px;
        top: 32px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(6) {
    animation: particles-6 1.5s 0.15s;
}

@keyframes particles-7 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -19px;
        top: 25px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(7) {
    animation: particles-7 1.5s 0.175s;
}

@keyframes particles-8 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -69px;
        top: -170px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(8) {
    animation: particles-8 1.5s 0.2s;
}

@keyframes particles-9 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -217px;
        top: 67px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(9) {
    animation: particles-9 1.5s 0.225s;
}

@keyframes particles-10 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 48px;
        top: -96px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(10) {
    animation: particles-10 1.5s 0.25s;
}

@keyframes particles-11 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -60px;
        top: 146px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(11) {
    animation: particles-11 1.5s 0.275s;
}

@keyframes particles-12 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 129px;
        top: 56px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(12) {
    animation: particles-12 1.5s 0.3s;
}

@keyframes particles-13 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -45px;
        top: 8px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(13) {
    animation: particles-13 1.5s 0.325s;
}

@keyframes particles-14 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -142px;
        top: 110px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(14) {
    animation: particles-14 1.5s 0.35s;
}

@keyframes particles-15 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 19px;
        top: -14px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(15) {
    animation: particles-15 1.5s 0.375s;
}

@keyframes particles-16 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 228px;
        top: 9px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(16) {
    animation: particles-16 1.5s 0.4s;
}

@keyframes particles-17 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 4px;
        top: -149px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(17) {
    animation: particles-17 1.5s 0.425s;
}

@keyframes particles-18 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 225px;
        top: -17px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(18) {
    animation: particles-18 1.5s 0.45s;
}

@keyframes particles-19 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -221px;
        top: 54px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(19) {
    animation: particles-19 1.5s 0.475s;
}

@keyframes particles-20 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 5px;
        top: 149px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(20) {
    animation: particles-20 1.5s 0.5s;
}

@keyframes particles-21 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -155px;
        top: -171px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(21) {
    animation: particles-21 1.5s 0.525s;
}

@keyframes particles-22 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 36px;
        top: 196px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(22) {
    animation: particles-22 1.5s 0.55s;
}

@keyframes particles-23 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -20px;
        top: 40px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(23) {
    animation: particles-23 1.5s 0.575s;
}

@keyframes particles-24 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 159px;
        top: 107px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(24) {
    animation: particles-24 1.5s 0.6s;
}

@keyframes particles-25 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 26px;
        top: 46px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(25) {
    animation: particles-25 1.5s 0.625s;
}

@keyframes particles-26 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 176px;
        top: 12px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(26) {
    animation: particles-26 1.5s 0.65s;
}

@keyframes particles-27 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -205px;
        top: 204px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(27) {
    animation: particles-27 1.5s 0.675s;
}

@keyframes particles-28 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -158px;
        top: -198px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(28) {
    animation: particles-28 1.5s 0.7s;
}

@keyframes particles-29 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 15px;
        top: -27px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(29) {
    animation: particles-29 1.5s 0.725s;
}

@keyframes particles-30 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 149px;
        top: -74px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(30) {
    animation: particles-30 1.5s 0.75s;
}

@keyframes particles-31 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -81px;
        top: 231px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(31) {
    animation: particles-31 1.5s 0.775s;
}

@keyframes particles-32 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 17px;
        top: 69px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(32) {
    animation: particles-32 1.5s 0.8s;
}

@keyframes particles-33 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 100px;
        top: 217px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(33) {
    animation: particles-33 1.5s 0.825s;
}

@keyframes particles-34 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: 77px;
        top: -119px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(34) {
    animation: particles-34 1.5s 0.85s;
}

@keyframes particles-35 {
    from {
        transform: scale(1);
        visibility: visible;
    }

    to {
        left: -169px;
        top: -76px;
        transform: scale(0);
        visibility: hidden;
    }
}

.active .hero-btn .particles-circle:nth-of-type(35) {
    animation: particles-35 1.5s 0.875s;
}



.wrap__sparks {
    transform: translateZ(-100px);
}




.made-with-love {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 10px;
    text-align: center;
    font-size: 10px;
    z-index: 9999;
    font-family: arial;
    color: #ff0083;
    font-weight: 600;
}

.made-with-love i {
    font-style: normal;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: #ff0083;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}

.made-with-love .dribble img {
    max-width: 100%;
    width: 26px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}





@media only screen and (max-width: 767px) {

    .container_section {
        width: 190%;
        height: auto;
        margin: 0% auto;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: auto;
    }

    .tabsBassic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .text_basicA {
        color: floralwhite;
        font-size: 10px;
    }

    .tabsBassicA {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .texfig {
        color: darkred;
        font-size: 10px;

    }

    .slide>h2 {
        text-align: center;
        font-size: 18px;
    }

    .container_blockA {
        background-color: #74b4a5;
        display: flex;
        flex-direction: row;
    }

    .texfigA {
        color: darkred;
        font-size: 18px;
    }

    .container-z>ol,
    .container-z>ul {
        list-style: none;
        margin: auto;
        font-style: normal;
    }

    .container_blockAmQ {
        background-color: #90abda;
        display: flex;
        flex-direction: row-reverse;
    }

    .container_blockMW {
        background-color: #d0bf37;
        display: flex;
        flex-direction: row-reverse;
    }


}


@media screen and (max-width: 768px) {
    .container_section {
        width: 190%;
        height: auto;
        margin: auto;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: auto;
    }

    .tabsBassic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .tabsBassicA {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2% auto;
        height: auto;
        width: 190%;

    }

    .container_blockK {
        background-color: #ff0083;
        display: flex;
        flex-direction: row;
    }

    .text_basicA {
        color: floralwhite;
        font-size: 15px;
    }

    .footers {
        width: 190%;
    }

    .texfig {
        color: darkred;
        font-size: 10px;

    }

    .slide>h2 {
        text-align: center;
        font-size: 12px;
    }

    .qw {
        color: #a88b6a;
    }
}

@media only screen and (max-width: 600px) {
    .text_basicA {
        color: floralwhite;
        font-size: 15px;
        line-height: 1.2;
    }

    .texfig {
        color: darkred;
        font-size: 6px;

    }

    .slide>h2 {
        text-align: center;
        font-size: 13px;
    }

    .slider-buttons button {
        margin: 3%;
        padding: 0%;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        font-size: 10px;
    }

    .image-text {
        font-size: 8px;
    }

    #navbar1 li a {
        display: block;
        padding: 6px;
        width: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 10px;
    }

    .text_basic {
        color: floralwhite;
        font-size: 10px;

    }
}


/* massah articles */


section.cardMassah {
    background: #f6f6f6;
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin: 84px 0;
    width: 60vw;
    max-width: 920px;
    min-width: 640px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    box-shadow:
        5px 0 0 0 fade(#ccc, 30%),
        -5px 0 0 0 fade(#ccc, 30%),
        0 5px 0 0 fade(#ccc, 30%);

    .text-contentArticles {
        display: flex;
        flex-direction: column;
        width: calc(60vw - 192px);

        h3 {
            margin: 0;
            font-size: 1.5em;
            max-width: 20ch;
        }

        p {
            margin: 16px 0 24px;
            max-width: 36ch;
        }

        a {
            border: 3px solid #000;
            color: #000;
            align-self: flex-start;
            text-decoration: none;
            padding: 16px 32px;
            border-radius: 12px;
            transition: 400ms all;

            &:hover {
                background: #000;
                color: white
            }
        }
    }

    .visual {
        width: 240px;
        height: 100%;
        position: absolute;
        top: -24px;
        left: 24px;
        overflow: hidden;
        border-radius: 24px;
        box-shadow:
            1px 2px 6px fade(white, 25%),
            2px 6px 12px fade(black, 25%);

        img {
            height: 110%
        }
    }

    &:nth-of-type(odd) {
        margin: 0 0 0 248px;
        border-radius: 24px 24px 48px 24px;
        padding: 48px 308px 48px 60px;

        .visual {
            right: 24px;
            left: auto
        }

        .text-contentArticles a {
            align-self: unset;
            width: auto;
        }
    }

}

article {
    margin: auto;
    display: block;
    width: calc(60vw + 248px);
    max-width: calc(920px + 248px);
    min-width: calc(640px + 248px);
}

.articless-massah {
    margin: 0;
    padding: 96px;
    font-size: 21px;
    background: #fff;
    color: #000;
    font-family: "gelica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media all and (max-width:1100px) {
    .articless-massah {
        padding: 96px 48px 24px
    }

    article {
        width: 100%;
        max-width: 100%;
        min-width: 100%
    }

    section.cardMassah {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

    }

    .text-contentArticles {
        width: 100%;
        padding: 10% 0;
    }

    &:nth-of-type(odd) {
        margin: 0
    }
}


@media all and (max-width:720px) {
    .articless-massah {
        padding: 48px 24px 0
    }

    section.cardMassah {
        margin: 64px 0;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;

        &:nth-of-type(odd) {
            padding: 88px 36px 36px;
            border-radius: 24px;
        }

        .text-contentArticles {
            width: inherit;
        }


        .visual,
        &:nth-of-type(odd) .visual {
            width: 150px;
            height: 150px;
            right: 16px;
            left: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/*---------------------work schedule-----------*/

.centerwork {

    justify-content: center;
}

.cardswork {
    width: 100%;
}

.card-caption-contentwork i {
    color: #ddd;

}

/***** Efecto *****/

.card-work-hover {
    position: relative;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    height: 400px;
}

.card-work-hover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.35s;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.card-work-hover:hover>img {
    transform: scale(1.15) translate3d(0, -20px, 0);
}

.card-work-hover>.card-captionwork {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(23, 28, 47, 0.6);

    transition: all 0.3s;
    transform: translate3d(0, 100%, 0);
    will-change: transform;
}

.card-work-hover>.card-caption>.card-caption-contentwork {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    transition: all 0.3s;

    transform: translate3d(0);
    will-change: transform;
}

.card-work-hover>.card-captionwork h2 {
    display: block;
    color: #fff;
    margin: 0;
    padding: 1.5rem;
    transition: all 0.3s;
    background-color: rgba(23, 28, 47, 0.4);

    transform: translate3d(0, -100%, 0);
    will-change: transform;
}

.card-work-hover>.card-captionwork tr {
    padding: 0 1rem;
    margin: 0;
    color: #fff;
    opacity: 0;
    transition: opacity 0.35s 0.1s;
    transform: translate3d(0);
    will-change: transform;
}

.card-work-hover:hover>.card-captionwork {
    transform: translateY(0);
}

.card-work-hover:hover>.card-caption>.card-caption-contentwork {
    top: 50%;
    transform: translate(0, -50%);
}

.card-work-hover:hover>.card-captionwork h2 {
    background-color: rgba(255, 255, 255, 0);
    transform: translateY(0%);
}

.card-work-hover:hover>.card-captionwork tr {
    opacity: 1;
}

.whitbutton {
        {
        padding: 20px;
        width: 334px;
        height: 54px;
        background: #030305;
        border: 0;
        box-sizing: border-box;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: background-color 5s;
    }
}