:root {
    --main-color: #333333;
    --van-color: #5555FF;
    --color4: #4FBFA5;
    --color5: white;
}

#navbar li:hover {
    background-color: var(--color4);
}

.main-blok1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10%;

}

.text1-111 {
    color: var(--van-color);
    font-size: 18px;
    margin: 1%;
    padding: 2%;
    text-align: left;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs li {
    margin-right: 10px;
}

.tabs label {
    display: block;
    padding: 10px;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabs label:hover,
.tabs label:focus {
    background-color: #ccc;
}

.tabs input[type="radio"] {
    display: none;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 10px 10px 10px;
}

.tabs input[type="radio"]:checked+label {
    background-color: var(--color4);
    color: #fff;
}

.tabs input[type="radio"]:checked+label+.tab-content {
    display: block;
}

.link {
    margin-top: 20px;
    text-align: center;
}

.link a {
    color: #8e44ad;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .text1-111 {
        font-size: 10px;
        margin: 1%;
        padding: 1%;
        text-align: left;
    }

}

@media only screen and (min-width: 768px) {
    .text1-111 {
        font-size: 18px;
        margin: 1%;
        padding: 2%;
        text-align: left;
    }

}