:root {
  --main-color: #0c0b0b;
  --van-color: #000887;
  --color3: #00868A;
  --color6: grey;
  --color7: red;
  --color4: #4FBFA5;
  --color5: white;
  --main-color: #333333;
  --color01: #b1f1e2;
  --color8: #00868A;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 15px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #f2f4f5;
}


a {
  text-decoration: none;
}

.my_content::before {
  display: table;
  content: "";
}

.img_logo {
  margin-right: 20px;
}

.item_text_logo {
  font-size: 18px;
  color: var(--color3);
}

.main_tel {
  display: block;
  margin-top: 0 3%;
  font-weight: 500;
  font-size: 16px;
  color: var(--van-color);
  padding: 0 3%;
}


.item_text {
  color: var(--van-color);

}

.my_img1 {
  margin-left: 20px;
}

/* бегущая строка */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

/* блок 3   */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0% 2%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.main-blok {
  width: 100%;
  max-width: 1617px;
  margin: 1% auto;
  display: flex;
  justify-content: flex-start;
  height: auto;
}

/* слайди текст */
.slider {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  width: 60%;
  position: relative;
  overflow: hidden;
  margin: 5% auto;
  text-align: center;
}

.slide p {
  word-break: break-word;
  padding: 0 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slide 20s linear infinite;
  margin-bottom: 30px;
}

.slide.active {
  opacity: 1;
}

.slide>h2 {
  text-align: center;
  font-size: 20px;
  color: black;
}

.main-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



@media screen and (max-width: 768px) {
  .slider {
    height: auto;
    font-size: 12px;
    width: 150%;
  }

  .slider>h1 {
    font-size: 8px;

  }

  .main-blok {
    width: 100%;
    max-width: none;
    margin: 1% auto;

  }

  .container {
    width: 190%;
    margin: 4% auto;
  }

  .marquee {
    width: 190%;

  }
}



/* button */
.butnn {
  display: flex;
}

.custom-btn {
  width: auto;
  height: auto;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: linear-gradient(0deg, rgba(182 242 228) 0%, rgb(0 134 138) 100%);
  padding: 0;
  border: none;
  margin-left: 8%;
  margin-right: 2%;

}

.btn-3 {
  position: relative;
  display: block;
  width: auto;
  height: 10%;
  right: 0;
  top: 0;

}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  /* background: rgba(2, 126, 251, 1); */
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.slider-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .slider-buttons {
    position: absolute;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    bottom: 0;
  }

  .custom-btn {
    margin-top: 20px;
    /* установите значение отступа, которое вам нравится */
    position: relative;
  }

  .slider-buttons button {
    margin: 0 47px;
    padding: 0%;
    background-color: #fff;
    color: #333;
    /* font-size: 16px; */
    cursor: pointer;
  }


}