.headers .header_main {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    background-color: var(--color01);
    padding: 3%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header_main::before {
    display: table;
    content: "";
}

.menu-categories__item {
    position: relative;
}

.menu-categories__link {
    transition: all .3s;
    font-weight: 400;
    padding: 15px 0 14px;
    position: relative;

}

.menu-categories__link1 {
    color: #5555ff;

}

.menu-categories__link::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #1c62cd;
    height: 3px;
    bottom: -2px;
    transition: all .3s;

}

.menu-categories__link:hover {
    color: black;
    font-weight: 400;
    padding: 15px 0 14px;
}

.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

#navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color01);
    display: flex;
    justify-content: center;
}

#navbar li:hover ul {
    display: flex;
}

#navbar,
#navbar ul {
    padding: 0;
    list-style-type: none;
    overflow: auto;
    margin: 0 auto;
}

#navbar ul li {
    float: none;
}


#navbar ul {

    display: none;
    justify-content: center;
    position: absolute;
    border-radius: 5%;

}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    width: 100%;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
}


.facebook_iconka {
    max-width: auto;


}

.instagram_icons {
    max-width: auto;
}

/* like */
.btn22 {
    width: 10%;
}

.container-z {
    display: flex;
    align-items: center;
    background-image: url('../img/masah126.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2% auto;
    padding: 2% 0%;
}



.vaq:hover {
    color: #4FBFA5;
}

.text-containerZ {

    padding: 3%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;


}

#likeButton {
    margin-left: auto;
    text-align: center;
    margin-right: 5%;
}

.container-z>ol,
.container-z>ul {
    list-style: none;
}

/* 3 */
.section_main3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0% 2%;

}


.card_blok2 {
    flex: 1 1 auto;
}

.card_blok2 {
    margin-right: 1%;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: var(--color3);
    width: 80%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px #00868A;
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% auto;
    text-align: center;

}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
}

.card__img {
    width: 100%;
}

.card__title {
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 1em;
    width: 100%;
}

.card__img {
    max-width: 100%;
}

.card__title {
    max-width: 100%;
}

.card__img {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin: 0 auto;
    top: 40%;
}

.card__img img {
    max-width: 100%;
    height: auto;
}

.card__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* 3 */
.main_section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0% 2%;
}

.card {
    max-width: 100%;
    margin: auto;

}

.card {
    width: 200px;
}

.cards_blok1 {
    position: absolute;
    width: 90%;
    height: 40%;
    right: 60%;
    top: 1528px;

}

.cards_blok1::after {
    display: table;
    clear: both;
    content: "";
}

.cards_blok1::before {
    display: table;
    content: "";
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('../img/img1.svg');
}


.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: left;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.cards {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 8px auto;
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.cards:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}




.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}



.card__cate {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    margin: 5% auto;
}

/*  4*/
.section_main4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: var(--color8);
}

.container4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 504px;

}

.container4_1 {
    display: flex;
    justify-content: right;
    width: 50%;
    height: auto;
    margin: 0 auto;
    background-color: #4FBFA5;
    padding: 1% 1%;
}

.btn2 {
    margin: 1% auto;
}

.text_ma {
    color: rgb(28, 25, 25);
}

.zaq {
    color: rgb(225, 214, 214);
}


.right-text4 {
    font-size: 24px;
    color: #201e1e;
    background-color: #0c6b31;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.right-text4.clicked {
    background-color: #1a4e22;
}

.left-text4 {
    font-size: 36px;
    color: #353232;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.left-text4.show {
    opacity: 1;
}

.hidden4 {
    display: none;
}

/* btn 4  */

.container_button {
    margin: 0 auto;
    padding: 2% 2%;
    display: flex;
    justify-content: left;
    width: 50%;
    height: auto;
    margin: 0 auto;
    background-color: var(--color3);
    padding: 1% 1%;
}

.btn-15 {
    background: var(--color4);
    border: none;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color3);
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #fff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

.card__category1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #1e1d1d;
}

/*  5 */
.main_content5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    top: 2579px;
}

.content_main5 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
    left: 0px;
    background: #00868A;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #00868A;
}

.image-wrapper {
    position: relative;
    width: 20%;
    height: 356px;
    margin-bottom: 20px;
    overflow: hidden;
    filter: blur(5px);
    transition: all 0.5s ease;
}

.image-wrapper:hover {
    filter: blur(0);
}

.image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 17px;
    transition: all 0.5s ease;
    transform: translateY(100%);
}

.image-wrapper:hover .image-text {
    transform: translateY(0);
}


.shadow-drop-2-bottom {
    -webkit-animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes shadow-drop-2-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px) translateY(-12px);
        transform: translateZ(50px) translateY(-12px);
        -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-bottom {
    0% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px) translateY(-12px);
        transform: translateZ(50px) translateY(-12px);
        -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}




/*  6*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 2900px;
}

.qweer {
    text-align: center;
    width: 100%;
}

.container-z img {
    width: 100%;
    height: auto;
}

#navbar1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    padding: 1% 0%;
}

#navbar1 li:hover ul {
    display: flex;
}

.navbar1 li:hover span {
    color: red;
}

#navbar1,
#navbar1 ul {
    margin: 0;
    padding: 1%;
    list-style-type: none;
}

#navbar1 ul li {
    float: none;
}


#navbar1 ul {

    display: none;
    justify-content: center;
    position: absolute;
    border-radius: 5%;

}

#navbar1 li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar1 li a {
    display: block;
    padding: 6px;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
}



#navbar1 li a span {
    color: rgb(4, 4, 4);

}

.footer-container {
    margin-right: 1%;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    width: 80%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

}

.card_blok3 {

    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: var(--color3);
    width: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image:
        linear-gradient(115deg, rgb(255 241 100), rgb(20 59 49)), radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), rgb(251 251 250), rgb(3 24 25)), radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), rgb(19, 103, 142), rgb(113, 201, 230)), radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(20, 175, 125), rgb(246 20 20)), radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(245 32 153), rgb(160 123 105)), linear-gradient(60deg, rgb(122 12 255), rgb(233 243 245));
    background-blend-mode: overlay, overlay, difference, difference, difference, normal;
    border-radius: 5px;
    cursor: pointer;
}


.footer-container1 {
    background-color: var(--color01);
    width: 100%;
    height: 50%
}

.btn-16 {
    /* background: var(--color4); */
    border: none;
    z-index: 1;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color3);
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #fff;
}

.btn-16:hover:after {
    left: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

@media only screen and (max-width: 767px) {

    .section_main3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 0% 2%;

    }

    .section_main4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: auto;
        margin: 0 auto;
        -background: var(--color8);
    }

    .main_content5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 30%;
        left: 0px;
        top: 2088px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: auto;
        left: 0px;
        top: 2350px;
    }

    .header {
        overflow: visible;
        font-size: 10px;
        padding: 3% 0%;
        width: 100%;
    }

    #navbar ul {
        display: none;
        justify-content: left;
        background-color: var(--color4);
        position: absolute;
        border-radius: 5%;
        width: 100%;
    }

    #navbar li {

        font-size: 10px;

    }

    .headers .header_main {
        display: flex;
        height: auto;
        width: 190%;
        flex-direction: column;
        background-color: var(--color01);
        padding: 3%;
        box-sizing: border-box;
        flex-shrink: 0;
    }

    .container-z {
        display: flex;
        align-items: center;
        background-image: url(../img/masah126.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 190%;
    }

    .vaq {
        color: #fff;

    }

    .vaq:hover {
        color: #00868A;
    }

    .text-containerZ {
        color: #000;
        padding: 3%;
        margin: 2% auto;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: #868686;
        font-size: 12px;
    }

    .card_blok3 {
        transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
        background-color: var(--color3);
        width: 190%;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        --x: calc(var(--posX, 0) * 1px);
        --y: calc(var(--posY, 0) * 1px);
        background-image: linear-gradient(115deg, rgb(255 241 100), rgb(20 59 49)), radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), rgb(251 251 250), rgb(3 24 25)), radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), rgb(19, 103, 142), rgb(113, 201, 230)), radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(20, 175, 125), rgb(246 20 20)), radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(245 32 153), rgb(160 123 105)), linear-gradient(60deg, rgb(122 12 255), rgb(233 243 245));
        background-blend-mode: overlay, overlay, difference, difference, difference, normal;
        border-radius: 5px;
        cursor: pointer;
    }

    .headers .header_main {
        display: flex;
        height: auto;
        width: 190%;
        flex-direction: column;
        background-color: var(--color01);
        padding: 3%;
        box-sizing: border-box;
        flex-shrink: 0;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: fit-content;
        margin: 13% 1%;


    }
}



@media screen and (max-width: 768px) {

    .section_main3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 190%;
        margin: 0 auto;
        padding: 0% 2%;

    }

    .section_main4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 190%;
        height: auto;
        margin: 5% auto;
        background-color: var(--color8);
    }

    .header_main {
        display: flex;
        height: auto;
        width: 190%;
        flex-direction: column;
        background-color: var(--color01);
        padding: 3%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .main_content5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 190%;
        height: 30%;
        left: 0px;
        top: 2303px;
    }

    .main_content6 {
        position: absolute;
        width: 190%;
        height: auto;
        top: 2790px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 190%;
        height: auto;
        left: 0px;
        top: 2697px;
    }

    .headers .header_main {
        display: flex;
        height: auto;
        width: 190%;
        flex-direction: column;
        background-color: var(--color01);
        padding: 3%;
        box-sizing: border-box;
        flex-shrink: 0;
    }

    .container-z {
        display: flex;
        align-items: center;
        background-image: url(../img/masah126.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 2% auto;
        padding: 2% 0%;
        width: 190%;
    }

    .slider_imageBasic {
        display: flex;
        width: 50%;
        height: fit-content;
        margin: 13% 1%;


    }
}

@media screen and (max-width: 1800px) {


    #navbar {

        font-size: 10px;

    }

}


/* навбар */