/* 2 */


.header {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    background-color: var(--color01);
    padding: 3%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header::before {
    display: table;
    content: "";
}

.menu-categories__item {
    position: relative;
}

.menu-categories__link {
    transition: all .3s;
    font-weight: 400;
    padding: 15px 0 14px;
    position: relative;

}

.menu-categories__link1 {
    color: #5555ff;

}

.menu-categories__link::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #1c62cd;
    height: 3px;
    bottom: -2px;
    transition: all .3s;

}

.menu-categories__link:hover {
    color: black;
    font-weight: 400;
    padding: 15px 0 14px;
}

.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

#navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color01);
    display: flex;
    justify-content: center;
}

#navbar li:hover ul {
    display: flex;
}

#navbar,
#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar ul li {
    float: none;
}


#navbar ul {

    display: none;
    justify-content: center;
    position: absolute;
    border-radius: 5%;

}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    width: 100%;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
}


.facebook_iconka {
    max-width: auto;


}

.instagram_icons {
    max-width: auto;
}

@media only screen and (max-width: 767px) {
    .header {
        overflow: visible;
        font-size: 10px;
        padding: 3% 0%;
        width: 140%;
    }

    #navbar ul {
        display: none;
        justify-content: center;
        background-color: var(--color4);
        position: absolute;
        border-radius: 5%;
        width: 100%;
    }
}

/* 3 */
.section_main3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0% 2%;

}

.card_blok2 {
    flex: 1 1 auto;
}

.card_blok2 {
    margin-right: 1%;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: var(--color3);
    width: 80%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px #00868A;
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% auto;
    text-align: center;

}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__img {
    width: 100%;
}

.card__title {
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 1em;
    width: 100%;
}

.card__img {
    max-width: 100%;
}

.card__title {
    max-width: 100%;
}

.card__img {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin: 0 auto;
    top: 40%;
}

.card__img img {
    max-width: 100%;
    height: auto;
}

.card__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* 4 */
.main_section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0% 2%;
}

.card {
    max-width: 100%;
    margin: auto;
}

.cards_blok1 {
    position: absolute;
    width: 90%;
    height: 40%;
    right: 60%;
    top: 1528px;

}

.cards_blok1::after {
    display: table;
    clear: both;
    content: "";
}

.cards_blok1::before {
    display: table;
    content: "";
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('../img/img1.svg');
}


.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: left;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}



.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.card1 {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {

    .section_main3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 140%;
        margin: 0 auto;
        padding: 0% 2%;

    }
}







/* blok 3 */