:root {
  --main-color: #333333;
  --van-color: #000887;
  --color3: #35796d;
}

body {
  font-family: 'Gilroy';
  font-style: normal;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
}

.img_logo {
  margin-right: 20px;
}

.item_text_logo {
  font-size: 18px;
  color: var(--color3);
}

.main_tel {
  margin-top: 0 3%;
  font-weight: 500;
  font-size: 16px;
  color: var(--van-color);
  padding: 0 3%;
}

.tel_main {
  display: block;
}

.item_text {
  color: var(--van-color);
}

.my_img1 {
  margin-left: 20px;
}

.facebook_iconka {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 70%;
}

.instagram_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 70%;
}


@media (max-width: 767px) {
  .container {
    left: 0;
  }

  .img_logo {
    width: 5%;
    padding: 0;
  }

  .item_text_logo {
    font-size: 10px;
    left: 10%;
    right: 10%;
  }

  .item_text_logo:hover {
    color: blue;
  }

  .main_tel {
    left: 10%;
    top: 50%;
    font-size: 8px;

  }

  .item_text {
    font-size: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 1%;

  }

  .my_img1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 2%;
    margin-left: 1%;
  }

  .tel_main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;


  }

  .facebook_iconka {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 5%;
  }

  .instagram_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 5%;
  }
}

/* стили для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    left: 0;
  }

  .img_logo {
    width: 5%;
    padding: 0;
  }

  .item_text_logo {
    font-size: 20px;
    left: 10%;
    right: 10%;
  }

  .item_text_logo:hover {
    color: blue;
  }

  .main_tel {
    left: 10%;
    top: 50%;
    font-size: 15px;

  }

  .item_text {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 1%;

  }

  .my_img1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

  }

  .tel_main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

  }

  .facebook_iconka {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 90%;
  }

  .instagram_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 90%;
  }
}