:root {
    --main-color: #333333;
    --van-color: #5555FF;
    --color4: #4FBFA5;
    --color5: white;
}

.main_container1 {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 25%;
    margin: 0;
    padding: 0;
    background-color: var(--color4);


}

.main_section1 {
    width: 100%;
    height: auto;

}


/* бегущая строка */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* 2 */
#navbar ul {
    display: none;
}

#navbar li:hover ul {
    display: flex;
}

#navbar,
#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar li {
    float: left;
}

#navbar ul li {
    float: none;
}

#navbar ul {
    display: none;
    position: absolute;
    top: 100%;
}

#navbar li {
    float: left;
    position: relative;
}

#navbar ul {
    display: none;
    justify-content: center;
    background-color: var(--color4);
    position: absolute;
    top: 100%;
}


#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #5555FF;
    min-width: 100%;
}


#navbar li a {
    display: block;
    padding: 7px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.item_text {
    font-size: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 1%;

}

#navbar li:hover {
    background-color: var(--color4);
}

/* h1 p  */
.main-blok {
    position: absolute;
    width: 30%;
    height: 20%;
    left: 4%;
    top: 20%;
}

.main_text {
    font-size: 20px;
    color: var(--color5);
}

.item_text {
    font-size: 15px;
    line-height: 120%;
    color: var(--color5);
}


.item__text1 {
    height: 84px;
    left: 5%;
    top: 6%;
}

.overflow {
    width: 90%;
    height: 80%;

}

/* кнопка */
.button1 {
    display: flex;
    padding: 1%;
    justify-content: center;

}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(44, 20, 163, 0.1),
        4px 4px 5px 0px #5555FF;
    outline: none;
    text-align: center;
}

.btn-4 {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-4:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-4:before,
.btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}

.btn-4:before {
    height: 0%;
    width: .1px;
}

.btn-4:after {
    width: 0%;
    height: .1px;
}

.btn-4:hover:before {
    height: 100%;
}

.btn-4:hover:after {
    width: 100%;
}

.btn-4 span:before,
.btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}

.btn-4 span:before {
    width: .1px;
    height: 0%;
}

.btn-4 span:after {
    width: 0%;
    height: .1px;
}

.btn-4 span:hover:before {
    height: 100%;
}

.btn-4 span:hover:after {
    width: 100%;
}

.image-wrapper {
    float: right;
    width: 60%;
    padding: 1%;

}

.image-wrapper img {
    width: 100%;
    height: auto;
    padding: 50px;
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 80%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .main_container1 {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 9%;
    }

    .main-blok {
        position: absolute;
        width: 42%;
        height: 5%;
        left: 1%;
        top: 20%;
    }

    .main_text {

        font-size: 6px;
        line-height: 100%;
        color: var(--color5);
        padding-top: 30%;
    }

    .main_text1 {
        height: auto;
        left: 5%;
        top: 5%;
    }

    .item_text {
        font-size: 5px;
        line-height: 120%;
        color: var(--color5);
    }

    .item__text1 {
        height: 50px;
        font-size: 6px;
    }


    .main {
        font-size: 10px;
        width: 100%;

    }

    .custom-btn {
        font-size: inherit;
        width: 25%;
        height: 12px;
    }



}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        font-size: 10px;

    }

    .main {
        font-size: 15px;
        width: 100%;
    }

    #navbar li a {
        padding: 5px;
    }
}


.main_container1 {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 10%;
}

@media only screen and (max-width: 1180px) {

    .main_text1 {
        height: 68px;

    }

    .main-blok {
        top: 15%;
    }
}

.main_container1 {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 25%;
}

.facebook_iconka {
    width: 20%;
}

.instagram_icons {
    width: 15%;
}

@media only screen and (max-width: 1300px) {
    .main_container1 {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 10%;
    }
}